@import "../font/font";

/**
*   Author : GPLUS
*
*   #### Responsive BreakPoint ####
*
*   PC : >= 1441
*   NOTEBOOK : 1025 ~ 1440
*   TABLET : 768 ~ 1024 
*   MOBILE : 480 ~ 767
*   MOBILE M : 321 ~ 479
*   MOBILE S : <= 320
*/

:root {
    --white-color: #ffffff;
    --primary-color: #1853A2;
    --primary-dark: #436FC4;
    --primary-title: #014099;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Noto Sans KR', 'Pretendard', Arial, sans-serif;
    font-weight: 400;
    color: #555555;
    scroll-behavior: smooth;
    min-width: 320px;
    -webkit-touch-callout: none;
}

body {
    overflow-x: hidden;

    &.no--scroll {
        overflow: hidden !important;
    }
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

button {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background: transparent; 
    border: none; 
    box-shadow: none; 
    border-radius: 0; 
    padding: 0; 
    overflow: visible; 
    cursor: pointer;
    transition: background-color .25s ease-in-out, color .25s ease-in-out;
    
    &:focus-visible {
        outline: 3px solid #000000;
    }
}

#wrap {
    position: relative;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}


/* ############## Chrome Scoll bar */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-thumb {
    background-color: #0B79DA;
    border-radius: 5px;

    &:hover {
        background-color: #0088FF;
    }
}

*::-webkit-scrollbar-track {
    background-color: #DDDDDD;
    border-radius: 5px;
}

body {
    /* ############## Firefox Scoll bar */
    scrollbar-width: thin;
    scrollbar-color: #0B79DA #DDDDDD;

    /* ############## IE Scoll bar */
    scrollbar-track-color: #DDDDDD;
    scrollbar-face-color: #0B79DA;
}

.slick-prev {
    &::before {
        content: url('../../../images/about/arrow_left.svg');
    }
}

.slick-next {
    &::before {
        content: url('../../../images/about/arrow_right.svg');
    }
}

/* ############################ Fullpage Override */
#fp-nav {
    ul {
        li {
            a {
                span {
                    background-color: #7A88C8 !important;
                }

                &.active {
                    span {
                        background-color: #F99B2E !important;
                    }
                }
            }
        }
    }
}

.fp-slidesNav {
    ul {
        li {
            a {
                span {
                    background-color: #7A88C8 !important;
                }
            }
        }
    }
}

/* ############################ Common Inner Title */
.inner {
    position: relative;
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    padding: 0 5.13vw;
    z-index: 5;

    .inner__title {
        position: relative;
        font-size: 1.75rem;
        font-weight: 600;
        color: #000000;
        text-transform: uppercase;
        text-align: center;
    }

    .inner__subtitle {
        position: relative;
        font-size: 1.25rem;
        font-weight: 500;
        color: #333333;
        text-align: center;
    }

    .inner__expl {
        position: relative;
        font-size: .875rem;
        font-weight: 300;
        word-break: keep-all;
        color: #333333;
        text-align: center;
        margin: 5.833vmin 0;
        line-height: 1.5;

        &.history__expl {
            margin: 10px auto;
        }
    }
}

@media all and (min-width: 768px) {
    .inner {
        min-height: auto;
        padding: 0 6.77vw;

        .inner__title {
            font-size: 1.875rem;
        }

        .inner__subtitle {
            font-size: 1.375rem;
        }

        .inner__expl {
            font-size: 1rem;
            margin: 1.04vmin 0 9.24vmin;
        }
    }
}

@media all and (min-width: 1025px) {
    .inner {
        padding: 0;
        max-width: 1100px;
        margin: 0 auto;
        top: 5vh;

        .inner__title {
            font-size: 2.5rem;
        }

        .inner__expl {
            max-width: 900px;
            margin: 22px auto 51px;

            &.history__expl {
                margin: 24px auto 10px;
            }
        }
    }
}

@media all and (min-width: 1441px) {
    .inner {
        max-width: 1400px;

        .inner__title {
            font-size: 3.125rem;
        }

        .inner__subtitle {
            font-size: 1.5625rem;
            margin: 5px 0 0;
        }

        .inner__expl {
            // margin: 15px auto 86px;
            margin: 15px auto 47px;
            font-size: 1.0625rem;
            line-height: 1.6;

            &.history__expl {
                margin: 15px auto 40px;
            }
        }
    }
}

@media all and (min-width: 1920px) {
    .inner {
        top: 0;
    }
}

/* ############################ Common Top Btn */
.top__btn {
    position: fixed;
    bottom: 2.5vmin;
    right: 2.5vw;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 46px;
    height: 46px;
    background-color: #20CC8D;
    border-radius: 100%;

    span {
        position: relative;
        display: inline-block;
        margin: 1vmin 0 0;
        font-size: .75rem;
        font-weight: 600;
        color: var(--white-color);
    }
}

@media all and (min-width: 1025px) {
    .top__btn {
        top: 65vh;
        right: 16px;
        bottom: auto;
        width: 32px;
        height: 60px;
        border-radius: 16px;
        font-size: .75rem;
        font-weight: 600;
    }
}

@media (min-width: 1441px) and (max-height: 1000px) {
    .top__btn {
        top: 61vh;
    }
}

@media (min-width: 1441px) and (min-height: 1200px) {
    .top__btn {
        top: 58vh;
    }
}

.back-to-position {
    opacity: 0;
    transition: all 1s;

    &.to-right {
        transform: translateX(-150px);
    }

    &.to-left {
        transform: translateX(150px);
    }

    &.to-top {
        transform: translateY(150px);
    }

    &.to-bottom {
        transform: translateY(-150px);
    }
}

.show {
    .back-to-position {
        opacity: 1;
        transform: translateX(0);

        &.delay-0 {
            transition-delay: 0s;
        }

        &.delay-1 {
            transition-delay: .3s;
        }

        &.delay-2 {
            transition-delay: .6s;
        }

        &.delay-3 {
            transition-delay: .9s;
        }

        &.delay-4 {
            transition-delay: 1.2s;
        }

        &.delay-5 {
            transition-delay: 1.5s;
        }

        &.delay-6 {
            transition-delay: 1.7s;
        }

        &.delay-7 {
            transition-delay: 1.9s;
        }

        &.delay-8 {
            transition-delay: 2.1s;
        }

        &.delay-9 {
            transition-delay: 2.3s;
        }
    }
}

/** Scroll Icon */
.scrollbar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 90px;
    z-index: 5;
    display: inline-flex;
    align-items: center;
    column-gap: 8px;

    > * {
        position: relative;
        color: #fff;
    }

    .title {
        font-size: .75rem;
        font-weight: 200;
    }

    .material-icons {
        font-size: 1rem;
    }

    .double__arrow {
        top: 0;
        left: 0;
        opacity: .5;
        animation: scroll_ani 1.3s linear infinite;
    }
}

.business {
    position: relative;
}

.common__model {
    position: relative;
    max-width: 300px;
    margin: 20px auto;
    border: none;
    padding: 0;
    list-style: none;
    text-align: center;

    &::before {
        display: table;
        content: '';
    }

    > li {
        position: relative;
        display: inline-block;
        float: none;
        text-align: center;
        width: 18%;

        &.active {
            i {
                background-color: #F99B2E;
                transform: rotate(90deg);
            }
        }

        &::after {
            position: absolute;
            content: '';
            top: 42px;
            right: -25px;
            display: block;
            margin: auto;
            width: 85%;
            height: 1px;
            z-index: -1;
            background-color: #CCCCCC;
        }

        &:last-child {
            &::after {
                width: 0;
            }
        }

        a,
        span {
            display: block;
        }

        span {
            margin: 5px 0;
            font-size: .875rem;
            font-weight: 400;
            color: #333333;
        }

        i {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
            margin: 0 auto;
            background-color: #fff;
            border: 1px solid #F9E581;
            border-radius: 100%;
            font-size: 1rem;
            color: #000000;
            transform: rotate(0);
            transition: all .25s;
        }
    }
}

@media all and (min-width: 1025px) {
    .common__model {
        max-width: 600px;

        > li {
            &::after {
                width: 100%;
                top: 46px;
                right: -55px;
            }

            span {
                font-size: 1.25rem;
            }
        }
    }
}

@media all and (min-width: 1025px) and (max-height: 800px) {
    .common__model {
        margin: 0 auto 20px;
    }
}

@media all and (min-width: 1441px) {
    .common__model {
        margin: 0 auto 20px;

        &.certiList {
            > li {
                width: 25%;

                &::after {
                    right: -77px;
                }
            }
        }

        &.recrList {
            > li {
                width: 22%;

                &::after {
                    right: -69px;
                }
            }
        }

        > li {
            &::after {
                top: 53px;
                right: -55px;
            }
            
            span {
                font-size: 1.375rem;
            }

            i {
                font-size: 1.375rem;
            }
        }
    }
}


.tab-content {
    .tab-pane {
        position: relative;
        display: none;

        &:first-child {
            display: block;
        }
    }
}

@media all and (min-width: 1441px) {
    .tab-content {
        min-height: 612px;
    }
}

@media all and (min-width: 1441px) and (max-height: 1000px) {
    .tab-content {
        min-height: auto;
    }
}

/* Modal */
.fade {
    &:not(.show) {
        opacity: 0;
        visibility: hidden;
    }
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .4);
    visibility: visible;
    opacity: 1;
    transition: .3s;

    &.fade {
        .modal__dialog {
            transition: transform .3s ease-out;
            transform: translate(0, -50px);
        }
    }

    &.show {
        .modal__dialog {
            transform: none;
        }
    }
}

.modal__dialog {
    position: relative;
    width: auto;
    margin: 1.75rem;
}

.modal__dialog--centered {
    display: flex;
    align-items: center;
    min-height: calc(100% - (1.75rem * 2));
}

.modal__dialog--scrollable {
    height: calc(100% - ((1.75rem * 2)));

    .modal__body {
        overflow-y: auto;
    }

    .modal__cont {
        max-height: 100%;
        overflow: hidden;
    }
}

.modal__cont {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #FFFFFF;
    background-clip: padding-box;
    border-radius: .5rem;
    outline: 0;
    box-shadow: 0 0 20px rgba(154, 154, 154, .16);
}

.modal__header {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    // border-bottom: 1px solid #DEE2E6;
    border-top-left-radius: calc(.5rem - 1px);
    border-top-right-radius: calc(.5rem - 1px);

    .material-icons {
        margin-left: auto;
        border: 1px solid #B9B2AC;
        border-radius: 100%;
        color: #F46424;
        cursor: pointer;
        transition: .4s;

        &:hover {
            transform: rotate(90deg);
        }
    }
}

.modal__body {
    position: relative;
    flex: 1 1 auto;
    padding: 1rem;
}

.modal__footer {
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    padding: calc(1rem - (.5rem * 5));
    background-color: #FFFFFF;
    border-top: 1px solid #DEE2E6;
    border-bottom-left-radius: calc(.5rem - 1px);
    border-bottom-right-radius: calc(.5rem - 1px);
}

@media all and (min-width: 576px) {
    .modal__dialog {
        margin-right: auto;
        margin-left: auto;
        max-width: 500px;
    }
}

@media all and (min-width: 1025px) {
    .modal__dialog {
        max-width: 1100px;
    }
}

@media all and (min-width: 1200px) {
    .modal__dialog {
        max-width: 1200px;
    }
}

@media all and (min-width: 1441px) {
    .modal__dialog {
        max-width: 1440px;
    }

    .modal__header {
        .material-icons {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 43px;
            height: 43px;
            font-size: 1.875rem;
        }
    }
}