.together__row {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 20px;
}

.together__item {
    flex: 0 0 auto;
    width: 100%;
    max-width: 100%;
    border-radius: 25px;
    background-color: #fff;
    border: 1px solid #9A55F8;
    padding: 15px 12px;

    &.together--law {
        border-color: #16B8A0;

        ul {
            > li {
                background-color: rgba(176, 177, 177, .07);
            }
        }

        .num {
            background-color: #FFB636;
        }
    }

    .item__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 15px;

        strong {
            font-size: 1rem;
            font-weight: 400;
            color: #3A2A50;
        }

        img {
            max-width: 40px;
        }
    }

    ul {
        width: 100%;

        > li {
            position: relative;
            display: flex;
            align-items: center;
            column-gap: 5px;
            background-color: rgba(154, 85, 248, .05);
            border-radius: 31px;
            padding: 8px 0 8px 40px;
            margin-bottom: 4px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .num {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        left: 0;
        width: 32px;
        height: 32px;
        border-radius: 100%;
        background-color: #9753F8;
        font-size: 1.25rem;
        font-weight: 900;
        color: #fff;
        text-align: right;

        &.num--left {
            text-align: left;
        }
    }

    .tit,
    .subtit {
        display: inline-block;
        font-weight: 400;
    }

    .tit {
        font-size: .8125rem;
        color: #444444;
    }

    .subtit {
        font-size: .625rem;
        color: #777395;
    }
}

@media all and (min-width: 768px) {
    .together__item {
        padding: 28px 39px;

        .item__header {    
            strong {
                font-size: 1.25rem;
            }
        }

        ul {
            > li {
                padding: 10px 0 10px 60px;
            }
        }

        .num {
            width: 43px;
            height: 43px;
            font-size: 1.75rem;
        }

        .tit {
            font-size: .875rem;
        }
    
        .subtit {
            font-size: .75rem;
        }
    }
}

@media all and (min-width: 1025px) {
    .together__row {
        margin: 0 0 5vh;
        row-gap: 0;
        column-gap: 20px;
    }

    .together__item {
        display: inline-flex;
        align-items: center;
        flex-direction: column;
        max-width: 49%;
        height: auto;
        row-gap: 10px;

        .item__header {    
            margin-bottom: 0;
        }
    }
}

@media all and (min-width: 1025px) and (max-height: 800px) {
    .together__row {
        margin: 0 0 10px;
    }
}

@media all and (min-width: 1025px) and (max-height: 1000px) {
    .together__item {
        padding: 16px 39px;
        height: 304px;

        .item__header {    
            margin-bottom: 0;
        }
    }
}

@media all and (min-width: 1441px) {
    .together__row {
        margin: 0;
    }

    .together__item {
        .item__header {    
            strong {
                font-size: 1.75rem;
            }
    
            img {
                max-width: none;
            }
        }

        ul {
            > li {
                padding: 17px 0 17px 80px;
            }
        }

        .num {
            width: 62px;
            height: 62px;
            font-size: 2.5rem;
        }

        .tit {
            font-size: 1.125rem;
        }
    
        .subtit {
            font-size: 1rem;
        }
    }
}

/* ############################# Together footer */
.together__footer {
    position: relative;
    width: 100%;
    background-color: #003F9C;
    border-radius: 22px;
}

.together__footer__wrap {
    position: relative;
    width: 100%;
    max-width: 294px;
    margin: 40px auto 0;
    max-height: 535px;
    text-align: center;
    padding: 9.23vw 0;

    .inner {
        min-height: auto;
        padding: 0 !important;
    }

    .footer__main__img {
        max-width: 170px;
    }
}

.together__description {
    position: relative;
    font-size: 1.25rem;
    font-weight: 200;
    color: #E3EEF9;
    text-align: center;
    margin: 22px 0;
    word-break: keep-all;
}

@media all and (min-width: 768px) {
    .together__footer__wrap {
        max-width: 476px;
        max-height: 493px;
        padding: 32px 0;

        .footer__main__img {
            max-width: 232px;
        }
    }

    .together__description {
        font-size: 1.375rem;
    }
}

@media all and (min-width: 1025px) {
    .together__footer {
        border-radius: 54px;
    }

    .together__footer__wrap {
        max-width: none;

        .inner {
            top: 0;
            height: 100%;
        }

        .footer__main__img {
            position: absolute;
            top: 0;
            left: 0;
            max-height: 100%;
            max-width: 500px;
        }
    }

    .together__description {
        margin: 0 0 29px;
    }
}

@media all and (min-width: 1025px) and (max-height: 800px) {
    .together__footer__wrap {
        height: 80px;
        min-height: auto;
        padding: 17px 0 0;
        margin: 20px auto 0;

        .inner {
            top: 0;
        }

        .footer__main__img {
            border-radius: 54px 0 0 54px;
        }
    }
}

@media all and (min-width: 1441px) {
    .together__footer__wrap {
        height: 108px;
        min-height: auto;
        padding: 6px 0 0;

        .inner {
            top: 0;
            height: auto !important;
        }

        .footer__main__img {
            left: 55px;
            max-width: none;
            border-radius: 54px 0 0 54px;
        }
    }
}

@media all and (min-width: 1920px) {
    .together__footer__wrap {
        .inner {
            max-width: 1830px;
        }
    }
}

.together__btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #FBE417;
    border-radius: 50px;
    font-size: 1.25rem;
    font-weight: 600;
    color: #362F2F;
    letter-spacing: -1px;
    transition: all .3s;
    z-index: 5;
    margin-top: 10px;

    &:hover {
        background-color: #14CC8D;
        color: var(--white-color);

        rect,
        path {
            fill: #ffffff;
        }

        line {
            stroke: #ffffff;
        }
    }

    svg {
        max-width: 31px;
        margin: 0 15px 0 0;

        &.arrow {
            margin: 0 0 0 15px;
        }
    }
}

.together__contact {
    position: relative;
    padding: 8.97vmin;
    margin: 9.23vmin 0 0;
    border: 1px solid #C8E0FF;
    border-radius: 26px;

    li {
        display: flex;
        align-items: center;
        margin: 0 0 18px;

        &:last-child {
            margin: 0;
        }

        span,
        a {
            font-size: 1rem;
            color: #C2DBFF;
        }

        span {
            margin: 0 0 0 14px;
        }
    }
}

@media all and (min-width: 768px) {
    .together__btn {
        max-width: 247px;
        margin: 0 auto;
    }

    .together__contact {
        max-width: 271px;
        padding: 17px 43px;
        margin: 23px auto 0;
    }
}

@media all and (min-width: 1025px) {
    .together__btn {
        position: absolute;
        top: 30px;
        right: 25px;
        max-width: 200px;
        font-size: 1rem;
    }

    .together__contact {
        padding: 11px 43px;
        max-width: 600px;
        margin: 0 auto;

        ul {
            display: flex;
            align-items: center;
            flex-direction: row;

            > li {
                width: 33.3%;
                margin: 0;
            }
        }
    }
}

@media all and (min-width: 1025px) and (max-height: 800px) {
    .together__btn {
        top: 14px;
    }
}

@media all and (min-width: 1441px) {
    .together__btn {
        position: absolute;
        top: auto;
        bottom: 16px;
        right: 16px;
        max-width: 284px;
        height: 76px;
        font-size: 1.375rem;

        svg {
            max-width: 40px;
            margin: 0 15px 0 0;

            &.arrow {
                margin: 0 0 0 15px;
            }
        }
    }
    
    .together__contact {
        max-width: 684px;

        li {
            span,
            a {
                font-size: 1.125rem;
            }
        }
    }
}


/**
*   contact
*
*
*/
section[data-anchor="contact"] {
    background-color: #F5F5F5;

    .inner {
        min-height: auto;
    }
}

.contact__content {
    position: relative;
    margin: 18px 0 0;

    li {
        &:first-child {
            strong {
                display: block;
            }
        }
    }

    strong {
        position: relative;
        font-size: 1.125rem;
        font-weight: 600;
        color: #2D82F1;
        text-transform: uppercase;

        &.contact__fax {
            margin: 0 0 0 15vw;
        }
    }

    span {
        position: relative;
        font-size: .9375rem;
        font-weight: 400;
        color: #666666;
        letter-spacing: -.5px;

        &.tel {
            color: #333333;
            letter-spacing: 0;
        }
    }
}

.contact__map {
    position: relative;
    width: 100%;
    margin: 5.13vw 0 0;

    img {
        max-width: 100%;
    }
}

@media all and (min-width: 768px) {
    .contact__content {
        max-width: 515px;
        margin: 30px auto 0;

        li {
            &:first-child {
                strong {
                    display: inline-block;
                }
            }
        }

        strong {
            margin: 0 15px 0 0;
            font-size: 1.25rem;

            &.contact__fax {
                margin: 0 15px 0 14.5vw;
            }
        }

        span {
            font-size: 1rem;

            &.tel {
                font-size: 1.25rem;
            }
        }
    }
}

@media all and (min-width: 1025px) {
    .contact__content {
        strong {
            &.contact__fax {
                margin: 0 15px 0 11vw;
            }
        }

        span {
            font-size: 1.0625rem;
        }
    }

    .contact__map {
        margin: 59px 0 0;
    }
}

@media all and (min-width: 1441px) {
    .contact__content {
        strong {
            font-size: 1.375rem;

            &.contact__fax {
                margin: 0 15px 0 55px;
            }
        }

        span {
            &.tel {
                font-size: 1.6875rem;
            }
        }
    }
}